@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');

body {
    background-image: url('assets/earth.jpg');
    background-position: top right;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    font-family: "Poppins Light", 'Roboto Condensed', sans-serif;
}

main {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
    width:90%;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 27px;
}

img {
    width:150px;
}

#country-overview {
    width:100%;
    max-width: 1300px;
}

#country-overview-list {
    background-color: #efefef;
    border-radius: 4px;
    border: 1px solid lightgray;
    column-count: 3;
    list-style-type: none;
    padding: 30px;
    transition: background-color 0.5 ease-in;

}

.population-text {
    margin: 4px;
    font-size: 13px;
}

.population-dropdown {
    font-size: 13px;
    margin: 5px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.visible {
    opacity: 1;
}

#countries {
    background-color:rgba(255, 255, 255, 0.2);
    margin: 25px 0;
}

#country {
    padding:30px;
}

.country-info {
    background-color: #c6d8f2;
    border: 3px #efefef solid;
    margin: 0 10px 10px 0;
    padding:15px;
    transition: all 0.5s ease;
}

.country-info:hover {
    background-color: #9ebbe5;
    border: 3px solid #a3c2ed;
    cursor: pointer;
}

.world-map {
    max-width:1300px;
    width: 90%;
}

.flag {
    width: 50px;
    margin: 0 10px 0 0;
    display: inline-block;
}

.blue {
    color:#5575C1;
}

.green {
    color: #4C824B;
}

.red {
    color: #D14E5B;
}

.yellow {
    color:#FFD435;
}

.purple {
    color: #A653BA;
}

.default {
    color: #fff;
}

.search-container {
    width: 100%;
    max-width: 1300px;
}

#search-btn {
    width: 20%;
    padding: 8px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 3px;
    border-left: none;
    cursor: pointer;
}

#search-btn:hover {
    background: #0b7dda;
}

#search-bar {
    border-radius: 3px;
    border: 1px solid black;
    padding:10px;
    width:300px;
}

#error-field{
    color:red;
    font-style: italic;
}